body {
    overflow-y: scroll !important;
}

.pvefx {
    color: var(--green);
}

.nvefx {
    color: var(--red);
}

.date {
    position: absolute;
    top: 8px;
    right: 16px;
}

.categories {
    font-weight: 700;
    text-decoration: underline;
}

.strain {
    text-transform: uppercase;
}

@media only screen and (max-width : 767.5px) {
    .larger-device {
        display: none;
    }
}

@media only screen and (min-width : 768px) {
    .smaller-device {
        display: none;
    }
}