/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800;900&family=Roboto:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton&effect=neon");
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
/* Global reset and font family set */
* {
  font-family: var(--font-roboto);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables you can use in any css file 
throughout the 
project with: Ex. var(--nameOfVar) */

:root {
  /* Colors */
  --main-bg-color: #101812;
  --box-color: #e0aaff;
  --font-color: #FCF6CE;
  --second-font: #727272;
  --hover-bg: #e0aaff;
  --btn-color: #09D77B;
  --red: #fb3640;
  --yellow: #F4E04D;
  --orange: #FFBC42;  /* this is your main yellow */
  --green: #09D77B;
  --blue: #20a4f3;
  --purple: #5C4A82;
  --aqua: #77F9BE;
  --kgreen: #273C2C;
  --dark: #101812;
  --champagne: #FAF1B3;

  /* Fonts */
  /* --font-poppins: "Poppins", sans-serif; */
  /*400,500,700,800,900 Weights*/
  --font-poppins: "Poppins", sans-serif;

  /* --font-roboto: "Roboto", sans-serif; */
  /*300,400 Weights*/
  --font-roboto: "Roboto", sans-serif;

  /* --font-nerko: "Nerko One", cursive; */
  /* 400 weight */
  --font-nerko: "Nerko One", cursive;

  /* Shadows and Effects */
  --border-radius: 8px;
  --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

body {
  font-family: var(--font-robto);
  background-color: var(--main-bg-color);
  color: var(--font-color);
  background-image: url("./static/images/plant-leaves-medium-p.png");
  margin-top: 45px;
}

header {
  text-align: center;
  font-size: 100px;
  font-family: var(--font-nerko);
}

.selected {
  font-weight: bold;
  color: var(--aqua);
}

button:disabled {
  background-color: lightgrey;
}

input[type="password"],
input[type="email"],
input[type="text"], textarea {
  background-color: var(--font-color);
}

.select {
  background-color: var(--font-color);
}

input:invalid {
  border: 2px dashed var(--red);
}

input:valid {
  border: 2px solid var(--green);
}

select:valid {
  border: 2px solid var(--green);

}

.Link {
  color: white;
}

.Link:hover {
  color: var(--font-color);
  font-weight: 700;
}


.landing-link {
  text-align: center;
  font-size: 50px;
  font-family: var(--font-nerko);
  color: var(--font-color);
  text-decoration: underline;
}

.btn {
  margin: 10px;
  background-color: var(--btn-color);
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
}

form > button {
  margin: 10px;
  background-color: var(--btn-color);
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
}

hr {
  color: var(--font-color);  /* Chrome and Safari*/
  border-color: var(--font-color);  /* Firefox and Opera */
  background-color: var(--font-color);  /* IE7+ */
}



.container {
  background: rgb(39,60,44, 0.6);
}

@media only screen and (max-width : 767.5px) {
  body {
    margin-top: 80px;
  }

  header {
    text-align: center;
    font-size: xx-large;
    font-family: var(--font-nerko);
  }

  .landing-link {
    text-align: center;
    font-size: x-large;
    font-family: var(--font-nerko);
    color: var(--font-color);
    text-decoration: underline;
  }
}